html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
}

.content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0px 15px;
}
.top-navigation {
	position: fixed;
	width: 100%;
	z-index: 9999;
	background-color: #fff;
	border-bottom: 1px solid #DDD;
}
.top-navigation .links {
	float: right;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	margin-top: 24px;
}
.top-navigation .links li {
	display: inline-block;
	margin-right: 20px;
}
.top-navigation .links .active {
	color: #4c5058;
	font-weight: 500;
}
.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}
.top-navigation .logo {
	height: 70px;
}

.introducing-karma {
	background-image: url('../images/first-background-karma.jpg');
	height: 45.938rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;	
	overflow: auto;
}
.introducing-karma .content {
	text-align: center;
	color: #fff;
	margin-top: 17.5rem;
}
.introducing-karma .content h1 {
	font-size: 3rem;
	font-weight: 300;
	margin-bottom: 0px;
}
.introducing-karma .content h2 {
	font-weight: 300;
}
button {
	padding: 1rem 1.5rem;
	background-color: #FF530D;
	border-radius: 4px;
	color: #fff;
	text-shadow: none;
	border-style: none;
}
button:hover {
	padding: 1rem 1.5rem;
	background-color: #E82C0C;
	border-radius: 4px;
	color: #fff;
	text-shadow: none;
	border-style: none;
	cursor: pointer;
}

.everyone-needs-karma {
	text-align: center;
}
.everyone-needs-karma .content {
	font-weight: 300;
	margin-top: 100px;
}
.everyone-needs-karma .content h1 {
	font-weight: 300;
	font-size: 2.7rem;
}
.everyone-needs-karma .content ul {
	padding: 0px;
}
.everyone-needs-karma .content li {
	display: inline-block;
	margin: 50px 20px;
}
.everyone-needs-karma .caption h3 {
	font-weight: 400;
	font-size: 1.5rem;
}
