html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	background-color: LightGray;
}
div {
	border: 1px solid Chocolate;
}

.top-navigation {
	background-color: #fff;
}
.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0px 15px;
}
.top-navigation .links {
	float: right;
	font-family: 'Roboto' sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
}
.top-navigation .links li {
	display: inline-block;
}
.top-navigation .logo {
	height: 70px;
}
